AUTH_WEB_APP_URL=http://127.0.0.1:3000
AUTH_API_BASE_URL=http://127.0.0.1:5030
# Example production: https://auth.norge360.com with .norge360.com cookies
AUTH_COOKIE_DOMAIN=
POST_LOGIN_REDIRECT_URL=/session
ALLOWED_REDIRECT_ORIGINS=http://127.0.0.1:3000,http://localhost:3000
AUTH_ACCESS_COOKIE_NAME=Norge360-access
AUTH_REFRESH_COOKIE_NAME=Norge360-refresh
AUTH_SESSION_COOKIE_NAME=Norge360-session
